<section id="skills" class="mt-20 py-14 bg-gray-900 xl:px-60 px-12">
  <h2 class="text-center sm:text-7xl text-6xl font-bold sm:mb-6 mb-10 text-white">Skills</h2>
  <div class="sm:block flex justify-center gap-10">
    <div class="flex justify-between mb-10 sm:flex-row flex-col gap-12">
      <app-skill-container imageName="angular-logo"></app-skill-container>
      <app-skill-container imageName="tailwind-logo"></app-skill-container>
      <app-skill-container imageName="typescript-logo"></app-skill-container>
      <app-skill-container imageName="react-logo"></app-skill-container>
    </div>
    <div class="flex md:justify-around justify-center sm:flex-row flex-col md:gap-10 gap-16">
      <app-skill-container imageName="nodejs-logo"></app-skill-container>
      <app-skill-container imageName="netcore-logo"></app-skill-container>
      <app-skill-container imageName="mongodb-logo"></app-skill-container>
    </div>
  </div>
</section>
