<ul class="flex fixed bg-black text-white justify-end w-full gap-10 pr-10 py-5 text-xl z-50">
  <a class="cursor-pointer" href="#home" [ngClass]="{'pb-1 border-b-4':activeSection==='home'}">Homepage</a>
  <a class="cursor-pointer" href="#about-me" [ngClass]="{'pb-1 border-b-4':activeSection==='about-me'}">About me</a>
  <a class="cursor-pointer" href="#projects" [ngClass]="{'pb-1 border-b-4':activeSection==='projects'}">Projects</a>
  <a class="cursor-pointer" href="#skills" [ngClass]="{'pb-1 border-b-4':activeSection==='skills'}">Skills</a>
<!--  <a class="cursor-pointer" href="#contact">Contact</a>-->
</ul>
